:root {
  --todoback-color: #eeeaea;
  --buttom-color: rgba(171, 75, 209, 0.8);
}
#toDos {
  width: 600px;
}
ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.todo-item {
  display: flex;
}
.todo {
  padding: 8px;
  margin: 10px;
  flex: 0 0 50%;
  box-sizing: border-box;
  font-family: "Dancing Script";
  font-style: italic;
  background-color: var(--todoback-color);
  border: 1px solid rgb(205, 206, 209);
  border-radius: 10px;
  opacity: 0.7;
}
.buttons_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}
.buttons_group button {
  width: var(--button-size);
  padding: 5px;
  border-radius: 10px;
  font-family: "Crimson Text";
  font-size: medium;
  color: #fff;
  flex: 1 1;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(111, 71, 151, 0.3);
}
input {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.todo:hover {
  box-shadow: 5px 5px 5px rgb(111, 71, 151, 0.3);
}
.buttons_group :hover {
  transform: scale(1.05);
  transition: 0.5s;
  opacity: 80%;
}
.edit {
  background-color: var(--buttom-color);
  border: 1px solid var(--buttom-color);
}
.remove {
  background-color: #da0024;
  border: 1px solid #d80024;
}
.completed {
  background-color: #03d83c;
  border: 1px solid #03d83c;
}
